body {
    margin: 0px 0px 0px 0px;
    background-color: #999;	
    background-image: url('../images/body_bg.png');	
    font-family: Verdana;
    font-size: 11px;
    color: #000;
}

h1, h2, h3, h4, h5 { 
    color: #ff5f09; 
    text-shadow: 1px 1px 1px #222; 
    text-transform: uppercase;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

p { text-align: justify; }

.topColor {
    height: 16px;
    margin-bottom: 8px;
    background-color: #000;
    border-bottom: solid 2px #999;
}

#PageBorder {
    width: 920px; 
    border: solid 0px #000; 
    margin-left: auto; 
    margin-right: auto;
}

#PageBorder-Left {
    background-image: url('../images/left_border.png'); 
    background-position: left;
}

#PageBorder-Right
{
    background-image: url('../images/right_border.png'); 
    background-position: right;
}

#PageBorder-Left, #PageBorder-Right { background-repeat: repeat-y; }

#PageContainer {
    width: 880px; 	
    border: solid 1px #000; 
    background-color: #efefef;
    background-image: url('../images/content_bg.png');
    background-repeat: repeat-x;	 
    background-position: bottom;
    margin-left: auto; 
    margin-right: auto;
}

#Header {
    width: auto;
    min-height: 90px;
    background-color: #999;	
    background-image: url('../images/banner_logo.jpg');
    background-repeat:no-repeat;
    border-bottom: solid 1px #999;
}

#Logo {
    float: left;
    width: 400px;
    min-height: 90px;	
}

#Logo a {
    padding-left: 400px;
    padding-bottom: 75px;	
}

#logo-links {
    float: right;
    background-image: url('../images/contact-image.png');
    background-repeat: no-repeat;
    width: 195px;
    height: 25px;
    margin: 8px 4px 0px 0px;
}

.logo-link-fb {
    padding-right: 21px;
    padding-bottom: 10px;
    margin-left: 25px;
    border: solid 0px red;
}

.logo-link-enquiry {
    padding-right: 21px;
    padding-bottom: 10px;
    margin-left: 2px;
    border: solid 0px red;
}

.logo-link-contact {
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 2px;
    border: solid 0px red;
}

#HeaderNav  {
    height: 14px;
    background-image: url('../images/nav_bg.gif');
    background-repeat: repeat-x;
    padding: 4px 4px 4px 4px;
    border-bottom: solid 1px #000;
}

#LogPanel {
    width: auto;
    height: 15px;
    padding: 4px 0px 4px 4px;			
}

#LogPanel-Acct {
    width: auto;
    height: 15px;
    padding: 4px 4px 4px 4px;	
    background-color: #000;	
    border-top: solid 1px #222;
    border-bottom: solid 1px #222;
}

#Login-Register { float: right; }

#Login-Register a {
    padding-right: 4px;
    padding-left: 4px;		
    color: #222;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

#Login-Register a:hover { color: #f88d03; }

#MainMenu { text-align: center;	}

#MainMenu a {
    padding-left: 4px;		
    margin-left: 14px;
    margin-right: 14px;
    color: #999;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

#MainMenu a:hover { color: #f88d03; text-shadow: 1px 1px #222; }

.Banner {
    width: 880px;
    height: 404px;
    padding-bottom: 210px;
    border-top: solid 1px #222;		
    border-bottom: solid 0px #222;
}

#sb_tempbanner {
    width: 810px;
    height: 180px;	
    padding-bottom: 40px;
    border-bottom: dotted 1px #999;
}

#sb_tempbanner .link-services-main {
    background-image: url('../images/img_carservices.png');	
    margin-right: 7px;
    margin-left: 1px;
}

#sb_tempbanner .link-booking-main {
    background-image: url('../images/img_onlinebooking.png');
    margin-right: 7px;
}

#sb_tempbanner .link-enquiry-main {
    background-image: url('../images/img_quickenquiry.png');		
}

#sb_tempbanner .link-services-main,
#sb_tempbanner .link-booking-main,
#sb_tempbanner .link-enquiry-main {
    background-repeat: no-repeat;	
    padding-right: 265px;
    padding-bottom: 207px;	
}

#Content {
    width: auto;
    min-height: 350px;
    margin-bottom: 30px;
    padding-left: 34px;
    padding-right: 36px;
    background-color: transparent;
    border: none;
    font-size: 12px;	
}

#Content p { line-height: 16px; }

#Footer {
    width: auto;
    min-height: 80px;
    background-color: #000;
    background-image: url('../images/footer_bg.gif');
    background-repeat: repeat-x;	
    border-top: solid 6px #000;
}

#FooterNav
{
    height: 14px;
    padding: 8px 8px 4px 8px;
    border-bottom: solid 0px #ccc;
    background-color: #000;
    text-align: center;
}

#FooterMenu a
{
    color: #fff;
}

#FooterMenu a:hover
{
    text-decoration: underline;
}

#Copyright 
{
    float: left;
    color: #999;
    padding-left: 8px;
    padding-top: 14px;
}

#Copyright a 
{
    color: #999;
    text-decoration: none;
}

#Copyright a:hover 
{
    text-decoration: underline;
}

#FooterLogo 
{
    float: right;
    width: 150px;
    height: 60px;
    background-image: url('../images/cypher_design_gray(150x60).png');
}

#FooterLogo a
{
    padding-left: 150px;
    padding-bottom: 60px;
}

#googlemap 
{
    width: 550px;
    height: 350px;
    border: solid 1px #222;
}

#crudControl 
{
    padding: 4px 4px 4px 6px;
    background-color: #3c3c3c;
    border: solid 1px #999;
    color: #ccc;		
}

#crudControl a { color: #ccc; }

.crud-javalink { cursor: default; }

#col-img 
{
    vertical-align: top;
    padding: 6px 10px 0 0;
}

#col-content 
{
    padding-top: 5px;
    padding-left: 15px;
    vertical-align: top;
}

#col-content form { color: #000; }

#booking-container, #enquiry-container { display: none; }

#booking-title 
{
    width: auto;
    height: 62px;
    background-color: #f98f00;
    background-image: url('../images/booking-form-title.gif');
    background-repeat: no-repeat;
    border-bottom: solid 1px #000;
}

#enquiry-title
{
    width: auto;
    height: 62px;
    background-color: #f98f00;
    background-image: url('../images/enquiry-form-title.gif');
    background-repeat: no-repeat;
    border-bottom: solid 1px #000;
}

#booking-form-wrapper, #enquiry-form-wrapper 
{
    width: 510px;	
    margin-top: 0px;
    /*padding: 0px 8px 12px 8px;*/
    border: solid 2px #000;
    background-image: url('../images/body_bg.png');
}

.side-link { width: 240px; margin-bottom: 40px; }

.link-booking, .link-enquiry, .link-services { background-repeat: no-repeat; }

.link-booking { background-image: url('../images/sidelink-booking.png'); }

.link-enquiry { background-image: url('../images/sidelink-enquiry.png'); }

.link-services { background-image: url('../images/sidelink-services.png'); }

.dataForm { margin-top: 10px; }

.dataForm fieldset 
{
    border: solid 1px #999;
    padding: 0px 8px 8px 8px;
}

.dataForm legend 
{
    color: #222;
    font-weight: bold;
}

.unsubscribe-wrapper 
{
    min-height: 100px;
}

.unsubscribe-form-wrapper 
{
    width: 450px; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 25px;
}

.unsubscribe-form-field 
{
    text-align: center; 
    padding-bottom: 8px;
}

.form_buttons 
{
    margin-top: 18px;
}

.callout 
{
    float: left;
    width: 60px;
    height: 46px;
    padding-right: 12px;
    background-image: url('../images/callout.png');
    background-repeat: no-repeat;
}

.itemlabel 
{
    width: 60px;
    font-weight: bold;
    vertical-align: top;
    /*text-shadow: 1px 1px 1px #fff;*/
}

.contentIntro 
{
    border-bottom: dotted 1px #999; 
    padding-bottom: 20px;
}

#paging 
{
    border-top: dotted 1px #ccc; 
    padding-bottom: 10px; 
    margin-top: 10px;
}

.simplePagerContainer 
{
    position: relative;
    top: -20px;
}

.simplePagerNav
{
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 8px;
    padding-left: 0px;
    border-top: dotted 1px #ccc;      
}

ul.simplePagerNav li{
    display:block;
    float: left;
    margin-right: 2px;
    padding: 4px;
    border: solid 1px #000;
    background-color: #222;
}

ul.simplePagerNav li a{
    color: #fff;
    text-decoration: none;
}

ul.simplePagerNav li.currentPage a {
    color: #ff5f09;
}

.requiredField 
{
    color: red;
    font-weight: bold;
}

#chkNewsletter 
{
    position: relative; 
    bottom: -2px;
}

#about-img 
{
    float: left;
    margin-right: 16px;
}

.preowned-img 
{
    border: solid 1px #999; 
    padding: 2px 2px 2px 2px; 
    background-color: white;
    max-width: 100px; 
    height: auto;
}

.preowned-item-title 
{
    font-size: 14px; 
    font-weight: bold; 
    border: solid 1px #999; 
    background-color: #ccc; 
    padding: 2px 2px 2px 2px; 
    margin-bottom: 3px;
}

.preowned-item-img-wrapper 
{
    width: 200px; 
    padding-right: 12px; 
    padding-bottom: 5px; 
    vertical-align: middle; 
    text-align: center; 
    border-bottom: dotted 1px gray;
}

.preowned-item-desc 
{
    font-size: 11px;
}

.preowned-item-desc a
{
    color: #006699;
}

.preowned-item-desc a:hover
{
    cursor: pointer;
    color: #ff5f09;
    text-decoration: none;
}

.arrow-banner-link1 
{	
    float: left; 
    position: absolute;
    top: 35px;
    z-index: 20; 	 
}

.arrow-banner-link1 a 
{
    margin-left: 10px;
    padding-right: 200px;
    padding-bottom: 30px;	
}

.arrow-banner-link2 
{	
    float: left; 
    margin-left: 10px; 
    position: absolute;
    top: 130px;
    z-index: 20;  	 
}

.arrow-banner-link2 a 
{
    padding-right: 200px;
    padding-bottom: 30px;	
}

.arrow-banner-link3 
{	
    float: left;
    margin-left: 10px; 
    position: absolute;
    top: 220px; 
    z-index: 20; 
}

.arrow-banner-link3 a 
{
    padding-right: 200px;
    padding-bottom: 30px;	
}

.subscribe {
    border-top: dotted 1px gray; 
    margin-top: 8px; 
    color: #fff; 
    font-style: italic;
}

/*--BANNER SLIDESHOW*/
#slideshow {position:relative;height:190px;}
#slideshow IMG {position:absolute;top:0;left:0;z-index:8;}
#slideshow IMG.active {z-index:10;}
#slideshow IMG.last-active {z-index:9;}